body {
  margin: 0;
  padding: 0;
  margin-top: 100px !important;

  background-color: black;
  overflow-x: hidden;
}

#videoContainer {
  height: 80vh;
  width: 100%;
  position: relative;
}

#video {
  height: 80vh;
  width: 100%;

  opacity: .6;
  object-fit: fill;
}

#imageContainer {
  top: 82%;
  left: 27%;
  right: 27%;
  width: 100%;

  vertical-align: center;
  position: absolute;
}

.thumbnail {
  height: 150px;
  width: 150px;
  margin-left: 25px;
  margin-right: 25px;

  display: inline-block;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  vertical-align: center;
}

.thumbnail:hover {
  max-height: 150px;
  
  border: 3px solid purple;
  border-radius: 8px;
}

.selected {
  border: 3px solid maroon !important;
}

.selected:hover {
  border: 3px solid purple !important;
}